{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form) }}
    <div class="row g-3">
        <div class="col-md-6">
            {{ form_row(form.legalName) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.tradeName) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.acronym) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.cnpj) }}
        </div>
        <div class="col-md-5">
            {{ form_row(form.organizationType) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.parent) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.status) }}
        </div>
        <div class="col-12">
            {{ form_row(form.notes) }}
        </div>
    </div>

    <div class="mt-4 d-flex gap-2">
        <button class="btn btn-primary">{{ button_label|default('Salvar') }}</button>
        <a class="btn btn-outline-secondary" href="{{ path('organization_index') }}">Voltar</a>
    </div>
{{ form_end(form) }}
